.about{
    padding-top: 132px;
}

.about_head__title{
    color: rgb(36, 45, 82);
font-size: 40px;
font-weight: 700;
line-height: 44px;
letter-spacing: -0.71px;
max-width: 445px;
max-width: 100%;
margin-bottom: 24px;
padding-right: 100px;
}

.about_head__text{
    color: #9196A8;
font-size: 16px;
font-weight: 400;
line-height: 26px;
max-width: 350px;
}

.about_items__title{
    color: rgb(36, 45, 82);
font-size: 16px;
font-weight: 700;
line-height: 23px;
letter-spacing: -0.29px;
margin-bottom: 19px;
}

.about_items__box{
    position: relative;
}

.about_items__title::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('/img/about_01.svg');
    padding-left: 67px;
    padding-bottom: 39px;
    top: -8px;
    left: -90px;
}

.about_head__title2::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('/img/about_02.svg');
    padding-left: 67px;
    padding-bottom: 39px;
    top: -8px;
    left: -90px;
}

.about_head__title3::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('/img/about_03.svg');
    padding-left: 67px;
    padding-bottom: 39px;
    top: -8px;
    left: -90px;
}

.about_items__text{
    color: #9196A8;
font-size: 16px;
font-weight: 400;
line-height: 26px;
max-width: 445px;
margin-bottom: 46px;
}

.about_block{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:900px) {
    .about_block{
        flex-direction: column;
    }
    .about_items__box{
        max-width: 540px;
    }
    .about_head{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .about_head__text{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 54px;
    }

    .about_head__title{
       padding-right: 0;
    }

    .about_head__text{
        max-width: 100%;
    }

    .about_items{
margin-right: auto;
margin-left: auto;    
}
.about_items__title{
    margin-left: 10px;
    padding: 6px 50px 10px 82px;
    border-radius: 39px 0px 0px 39px;
    background-color: rgb(255, 240, 236);
   
}
.about_items__title::before{
    top: 0;
    left: 0;
}
}